<%- include('header') %>
<body>
    <%- include('navbar') %>

        <header style="text-align: center" class="my-5">
            <h1>Hospital Management System</h1>
        </header>

        <main>
            <div class="container" >
                <section class="p-3">
                    <h2>About Us</h2>
                    <p>
                        Welcome to Krish's Hospital Management System (HMS). Our HMS is designed to
                        streamline and optimize the operations of our hospital, providing efficient and effective
                        solutions
                        for healthcare management.
                    </p>
                </section>

                <section class="p-3">
                    <h2>Our Mission</h2>
                    <p>
                        At our Hospital, our mission is to deliver high-quality healthcare services while
                        prioritizing patient care and safety. We aim to leverage technology to enhance the patient
                        experience and improve overall hospital efficiency.
                    </p>
                </section>
                <section class="p-3">
                    <h2>Why Choose Us</h2>
                    <ol>
                        <li>Comprehensive Healthcare Management: Our HMS offers a range of features including
                            appointment
                            scheduling, patient registration, inventory management etc.</li>
                        <li>User-Friendly Interface: With an intuitive user interface, our HMS is easy to navigate and
                            use,
                            ensuring smooth operations for hospital staff and administrators.</li>
                    </ol>
                </section>

            </div>
        </main>

        <%- include('footer') %>