<%- include('header') %>
<body>
<div class="">
    <div class="container glass-content p-5" style="margin-top: 4.8cm;border-radius: 1cm;">
        <h1 class="display-3">Welcome to Our Hospital Management System</h1>
        <p class="lead" style="font-weight: 600;">A Project on Hospital Management System</p>
        <hr>
        <br>
        <a class="btn mx-2 btn-outline-success btn-lg" href="/signup" role="button">SignUp</a>
        <a class="btn mx-2 btn-primary btn-lg" href="/login" role="button">Login</a>

    </div>
</div>

<%- include('footer') %>